<html>
    <h2>
        html forms
    </h2>
    <body>
    <form action="/submit" method="post">
        <label for='science'>SCIENCE: </label><br>
        <input type="text" id="science" name="science" value="0"><br>
        <label for='math'>MATHS : </label><br>
        <input type="text" id="maths" name="maths" value="0"><br>
        <label for='c'> C: </label><br>
        <input type="text" id="c" name="c" value="0"><br>
        <label for='data_sci'>Data_SCI: </label><br>
        <input type="text" id="data_sci" name="data_sci" value="0"><br><br>
        <button type="'submit">SUBMit</button>

    </form>
    </body>
</html>